@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Roboto;
}

.container {
  display: flex;
}

.item {
  background: rgb(17, 207, 191);
  border: 1px solid #000;
  padding: 10px;
}

.main {
  margin: 10px;
}

.mian a:hover{
  background-color: blue;
}

.ice_cream_list {
  margin: 10px;
}

.description {
  margin: 10px;
}

.logo {
  
}